* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  caret-color: transparent;
}

#ad {
  display: block;
  overflow: hidden;
  cursor: pointer;
  width: 728px;
  height: 90px;
  border: 1px solid #000;
  background: #f4f5f7;
  position: relative;
}

#banner,
.frame {
  width: 100%;
  height: 100%;
}

#banner * {
  position: absolute;
}

.svg,
.img {
  width: 100%;
  height: 100%;
}

.logo {
  width: 360px;
  height: 300px;
  right: 10px;
  top: 20px;
}

.frame3 .copy {
  margin: 7px 0 0 10px;
}

/* ----- CTA Button ----- */
.cta {
  width: 90px;
  height: 22px;
  bottom: 15px;
  right: 26px;
  border-radius: 15px;
  background: #477e22;
  border: 1px solid #477e22;
  transition: background 0.25s ease-in-out;
}

.cta img {
  width: 100%;
  height: 100%;
  object-fit: none;
  margin-top: -1px;
}

.cta-on,
#banner:hover .cta-off {
  opacity: 0;
}

#banner:hover .cta-on {
  opacity: 1;
}

#banner:hover .cta {
  background: #fff;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}
