* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  caret-color: transparent;
}

#ad {
  display: block;
  overflow: hidden;
  cursor: pointer;
  width: 300px;
  height: 600px;
  border: 1px solid #000;
  position: relative;
}

#banner,
.frame {
  width: 100%;
  height: 100%;
}

#banner * {
  position: absolute;
}

.svg,
.frame .img {
  width: 300px;
  height: 600px;
}

.logo {
  width: 340px;
  height: 280px;
  right: 0;
  top: 0;
  z-index: 100;
}

.frame1 {
  background: linear-gradient(to right bottom, #522d6d 37%, #e50995 90%);
}

.frame2 {
  background: #f4f5f7;
}

.icons {
  width: 170px;
  left: 50%;
  bottom: 130px;
  transform: translateX(-50%);
}

/* ----- CTA Button ----- */
.cta {
  position: inherit !important;
}

.cta-bg {
  width: 110px;
  height: 27px;
  bottom: 94px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  background: #008800;
  border: 1px solid #008800;
  transition: background 0.35s ease-in-out;
}

.cta-on,
#banner:hover .cta-off {
  opacity: 0;
}

#banner:hover .cta-on {
  opacity: 1;
}

#banner:hover .cta-bg {
  background: #fff;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}
