* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
gwd-page {
  display: block;
}
.gwd-inactive {
  visibility: hidden;
}

.gwd-pagedeck {
  position: relative;
  display: block;
}
.gwd-pagedeck > .gwd-page.transparent {
  opacity: 0;
}
.gwd-pagedeck > .gwd-page {
  position: absolute;
  top: 0;
  left: 0;
  transition-property: transform, opacity;
}
.gwd-pagedeck > .gwd-page.linear {
  transition-timing-function: linear;
}
.gwd-pagedeck > .gwd-page.ease-in {
  transition-timing-function: ease-in;
}
.gwd-pagedeck > .gwd-page.ease-out {
  transition-timing-function: ease-out;
}
.gwd-pagedeck > .gwd-page.ease {
  transition-timing-function: ease;
}
.gwd-pagedeck > .gwd-page.ease-in-out {
  transition-timing-function: ease-in-out;
}
.ease *,
.ease-in *,
.ease-in-out *,
.ease-out *,
.linear * {
  transform: translateZ(0);
}

gwd-page.fs {
  border: none;
}

gwd-image.scaled-proportionally > div.intermediate-element > img {
  background-repeat: no-repeat;
  background-position: 50%;
}
gwd-image {
  display: inline-block;
}
gwd-image > div.intermediate-element {
  width: 100%;
  height: 100%;
  transform-style: unset;
}
gwd-image > div.intermediate-element > img {
  display: block;
  width: 100%;
  height: 100%;
}

gwd-taparea {
  display: block;
  cursor: pointer;
  background-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}
.gwd-lightbox {
  overflow: hidden;
}

.gwd-page-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.gwd-page-content {
  background-color: transparent;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  perspective: 1400px;
  -webkit-perspective: 1400px;
  -moz-perspective: 1400px;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}
.gwd-page-content * {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}
.gwd-page-wrapper {
  background-color: #fff;
  position: absolute;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
}
.gwd-page-size {
  width: 728px;
  height: 90px;
}
.bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: none;
  background-color: #f4f4f7;
}
.topgradientbar {
  position: absolute;
  left: 0px;
  width: 100%;
  height: auto;
  top: 0px;
}
.bottomgradientbar {
  position: absolute;
  left: 0px;
  width: 100%;
  height: auto;
  bottom: 0px;
}
.logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transform: translate3d(0, 90px, 0);
  -webkit-transform: translate3d(0, 90px, 0);
  -moz-transform: translate3d(0, 90px, 0);
}
.cta {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  opacity: 0;
}
.gwd-image-s18m {
  width: 600px;
  height: 500px;
  opacity: 0;
}
.copy {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.gwd-image-wwa8 {
  position: absolute;
  left: 63.8889px;
  top: 149.306px;
}
.copy02 {
  position: absolute;
  left: 4.86111px;
  top: 87.5px;
}
@keyframes gwd-gen-mxiygwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  9.0909% {
    opacity: 1;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  87.8788% {
    opacity: 1;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
}
@-webkit-keyframes gwd-gen-mxiygwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  9.0909% {
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
  87.8788% {
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
}
@-moz-keyframes gwd-gen-mxiygwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    -moz-animation-timing-function: linear;
  }
  9.0909% {
    opacity: 1;
    -moz-animation-timing-function: linear;
  }
  87.8788% {
    opacity: 1;
    -moz-animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    -moz-animation-timing-function: linear;
  }
}
#page1.gwd-play-animation .gwd-gen-mxiygwdanimation {
  animation: 3.3s linear 0.6s 1 normal forwards gwd-gen-mxiygwdanimation_gwd-keyframes;
  -webkit-animation: 3.3s linear 0.6s 1 normal forwards gwd-gen-mxiygwdanimation_gwd-keyframes;
  -moz-animation: 3.3s linear 0.6s 1 normal forwards gwd-gen-mxiygwdanimation_gwd-keyframes;
}
.gwd-image-pao3 {
  opacity: 0;
}
.gwd-image-1a5q {
  position: absolute;
  left: 113.088px;
  top: 165.895px;
}
.gwd-image-q4qp {
  position: absolute;
  left: 66.3098px;
  top: 110.436px;
}
.gwd-image-uqo9 {
  position: absolute;
  left: 102.961px;
  top: 132.137px;
}
.gwd-image-1jfq {
  position: absolute;
  left: 128.52px;
  top: 151.427px;
}
@keyframes gwd-gen-1dmggwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  9.6774% {
    opacity: 1;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  87.0968% {
    opacity: 1;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
}
@-webkit-keyframes gwd-gen-1dmggwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  9.6774% {
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
  87.0968% {
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
}
@-moz-keyframes gwd-gen-1dmggwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    -moz-animation-timing-function: linear;
  }
  9.6774% {
    opacity: 1;
    -moz-animation-timing-function: linear;
  }
  87.0968% {
    opacity: 1;
    -moz-animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    -moz-animation-timing-function: linear;
  }
}
#page1.gwd-play-animation .gwd-gen-1dmggwdanimation {
  animation: 3.1s linear 0.8s 1 normal forwards gwd-gen-1dmggwdanimation_gwd-keyframes;
  -webkit-animation: 3.1s linear 0.8s 1 normal forwards gwd-gen-1dmggwdanimation_gwd-keyframes;
  -moz-animation: 3.1s linear 0.8s 1 normal forwards gwd-gen-1dmggwdanimation_gwd-keyframes;
}
.gwd-image-2cxn {
  opacity: 0;
}
@keyframes gwd-gen-juecgwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
}
@-webkit-keyframes gwd-gen-juecgwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
}
@-moz-keyframes gwd-gen-juecgwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    -moz-animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    -moz-animation-timing-function: linear;
  }
}
#page1.gwd-play-animation .gwd-gen-juecgwdanimation {
  animation: 0.3s linear 1.2s 1 normal forwards gwd-gen-juecgwdanimation_gwd-keyframes;
  -webkit-animation: 0.3s linear 1.2s 1 normal forwards gwd-gen-juecgwdanimation_gwd-keyframes;
  -moz-animation: 0.3s linear 1.2s 1 normal forwards gwd-gen-juecgwdanimation_gwd-keyframes;
}
@keyframes gwd-gen-5nu2gwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
}
@-webkit-keyframes gwd-gen-5nu2gwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
}
@-moz-keyframes gwd-gen-5nu2gwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    -moz-animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    -moz-animation-timing-function: linear;
  }
}
#page1.gwd-play-animation .gwd-gen-5nu2gwdanimation {
  animation: 0.3s linear 4.8s 1 normal forwards gwd-gen-5nu2gwdanimation_gwd-keyframes;
  -webkit-animation: 0.3s linear 4.8s 1 normal forwards gwd-gen-5nu2gwdanimation_gwd-keyframes;
  -moz-animation: 0.3s linear 4.8s 1 normal forwards gwd-gen-5nu2gwdanimation_gwd-keyframes;
}
.gwd-image-uzre {
  opacity: 0;
}
@keyframes gwd-gen-1lmlgwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
}
@-webkit-keyframes gwd-gen-1lmlgwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
}
@-moz-keyframes gwd-gen-1lmlgwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    -moz-animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    -moz-animation-timing-function: linear;
  }
}
#page1.gwd-play-animation .gwd-gen-1lmlgwdanimation {
  animation: 0.3s linear 4.6s 1 normal forwards gwd-gen-1lmlgwdanimation_gwd-keyframes;
  -webkit-animation: 0.3s linear 4.6s 1 normal forwards gwd-gen-1lmlgwdanimation_gwd-keyframes;
  -moz-animation: 0.3s linear 4.6s 1 normal forwards gwd-gen-1lmlgwdanimation_gwd-keyframes;
}
.gwd-image-1xtz {
  opacity: 0;
}
@keyframes gwd-gen-1kylgwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    transform: translate3d(-1px, 1px, 0);
    -webkit-transform: translate3d(-1px, 1px, 0);
    -moz-transform: translate3d(-1px, 1px, 0);
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
}
@-webkit-keyframes gwd-gen-1kylgwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-1px, 1px, 0);
    -webkit-animation-timing-function: linear;
  }
}
@-moz-keyframes gwd-gen-1kylgwdanimation_gwd-keyframes {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 0, 0);
    -moz-animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    -moz-transform: translate3d(-1px, 1px, 0);
    -moz-animation-timing-function: linear;
  }
}
#page1.gwd-play-animation .gwd-gen-1kylgwdanimation {
  animation: 1.8s linear 7.2s 1 normal forwards gwd-gen-1kylgwdanimation_gwd-keyframes;
  -webkit-animation: 1.8s linear 7.2s 1 normal forwards gwd-gen-1kylgwdanimation_gwd-keyframes;
  -moz-animation: 1.8s linear 7.2s 1 normal forwards gwd-gen-1kylgwdanimation_gwd-keyframes;
}
.gwd-image-13tw {
  position: absolute;
  left: -23.8715px;
  top: -6.26929px;
}
.clicktag {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}
@keyframes gwd-gen-1e2egwdanimation_gwd-keyframes {
  0% {
    transform: translate3d(0, 90px, 0);
    -webkit-transform: translate3d(0, 90px, 0);
    -moz-transform: translate3d(0, 90px, 0);
    background-color: transparent;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    background-color: transparent;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
}
@-webkit-keyframes gwd-gen-1e2egwdanimation_gwd-keyframes {
  0% {
    -webkit-transform: translate3d(0, 90px, 0);
    background-color: transparent;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    background-color: transparent;
    -webkit-animation-timing-function: linear;
  }
}
@-moz-keyframes gwd-gen-1e2egwdanimation_gwd-keyframes {
  0% {
    -moz-transform: translate3d(0, 90px, 0);
    background-color: transparent;
    -moz-animation-timing-function: ease-out;
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    background-color: transparent;
    -moz-animation-timing-function: linear;
  }
}
#page1.gwd-play-animation .gwd-gen-1e2egwdanimation {
  animation: 0.3s linear 0s 1 normal forwards gwd-gen-1e2egwdanimation_gwd-keyframes;
  -webkit-animation: 0.3s linear 0s 1 normal forwards gwd-gen-1e2egwdanimation_gwd-keyframes;
  -moz-animation: 0.3s linear 0s 1 normal forwards gwd-gen-1e2egwdanimation_gwd-keyframes;
}
.gwd-div-4hht {
  position: absolute;
  left: -100px;
  top: -1px;
}
@keyframes gwd-gen-mask02animation_gwd-keyframes {
  0% {
    transform: translate3d(-100px, 150px, 0);
    -webkit-transform: translate3d(-100px, 150px, 0);
    -moz-transform: translate3d(-100px, 150px, 0);
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  100% {
    transform: translate3d(231px, 151px, 0);
    -webkit-transform: translate3d(231px, 151px, 0);
    -moz-transform: translate3d(231px, 151px, 0);
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
}
@-webkit-keyframes gwd-gen-mask02animation_gwd-keyframes {
  0% {
    -webkit-transform: translate3d(-100px, 150px, 0);
    -webkit-animation-timing-function: linear;
  }
  100% {
    -webkit-transform: translate3d(231px, 151px, 0);
    -webkit-animation-timing-function: linear;
  }
}
@-moz-keyframes gwd-gen-mask02animation_gwd-keyframes {
  0% {
    -moz-transform: translate3d(-100px, 150px, 0);
    -moz-animation-timing-function: linear;
  }
  100% {
    -moz-transform: translate3d(231px, 151px, 0);
    -moz-animation-timing-function: linear;
  }
}
.gwd-div-f5di {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 970px 250px;
  mask-size: 970px 250px;
  -webkit-mask-position: 100.833px 0px;
  mask-position: 100.833px 0px;
  -webkit-mask-image: url('assets/copy02_01.png');
  mask-image: url('assets/copy02_01.png');
}
@keyframes gwd-gen-hfmsgwdanimation_gwd-keyframes {
  0% {
    transform: translate3d(20px, 0, 0);
    -webkit-transform: translate3d(20px, 0, 0);
    -moz-transform: translate3d(20px, 0, 0);
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  100% {
    transform: translate3d(330px, 10px, 0);
    -webkit-transform: translate3d(330px, 10px, 0);
    -moz-transform: translate3d(330px, 10px, 0);
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
}
@-webkit-keyframes gwd-gen-hfmsgwdanimation_gwd-keyframes {
  0% {
    -webkit-transform: translate3d(20px, 0, 0);
    -webkit-animation-timing-function: linear;
  }
  100% {
    -webkit-transform: translate3d(330px, 10px, 0);
    -webkit-animation-timing-function: linear;
  }
}
@-moz-keyframes gwd-gen-hfmsgwdanimation_gwd-keyframes {
  0% {
    -moz-transform: translate3d(20px, 0, 0);
    -moz-animation-timing-function: linear;
  }
  100% {
    -moz-transform: translate3d(330px, 10px, 0);
    -moz-animation-timing-function: linear;
  }
}
.gwd-play-animation [data-gwd-group='textglowimage01'] .gwd-gen-hfmsgwdanimation {
  animation: 1.6s linear 1.5s 1 normal forwards gwd-gen-hfmsgwdanimation_gwd-keyframes;
  -webkit-animation: 1.6s linear 1.5s 1 normal forwards gwd-gen-hfmsgwdanimation_gwd-keyframes;
  -moz-animation: 1.6s linear 1.5s 1 normal forwards gwd-gen-hfmsgwdanimation_gwd-keyframes;
}
[data-gwd-group='textglowimage01'] .gwd-grp-15lk.gwd-image-dq3f {
  width: 123px;
  height: 155px;
  transform: translate3d(20px, 0, 0);
  -webkit-transform: translate3d(20px, 0, 0);
  -moz-transform: translate3d(20px, 0, 0);
}
[data-gwd-group='textglowimage01'] {
  width: 970px;
  height: 270px;
}
.gwd-div-1tlk {
  position: absolute;
  left: 10px;
  top: -20px;
  width: 728px;
  height: 90px;
}
[data-gwd-group='textglowimage01'] .gwd-grp-15lk.gwd-div-ftg7 {
  position: absolute;
  width: 970px;
  height: 250px;
  left: 0px;
  top: 20px;
}
.gwd-div-1l27 {
  -webkit-mask-image: url('assets/copy01_02.png');
  mask-image: url('assets/copy01_02.png');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 728px 90px;
  mask-size: 728px 90px;
  -webkit-mask-position: -10px 20px;
  mask-position: -10px 20px;
}
@keyframes gwd-gen-wm4jgwdanimation_gwd-keyframes {
  0% {
    transform: translate3d(-110px, 0, 0);
    -webkit-transform: translate3d(-110px, 0, 0);
    -moz-transform: translate3d(-110px, 0, 0);
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  100% {
    transform: translate3d(210px, 0, 0);
    -webkit-transform: translate3d(210px, 0, 0);
    -moz-transform: translate3d(210px, 0, 0);
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
}
@-webkit-keyframes gwd-gen-wm4jgwdanimation_gwd-keyframes {
  0% {
    -webkit-transform: translate3d(-110px, 0, 0);
    -webkit-animation-timing-function: linear;
  }
  100% {
    -webkit-transform: translate3d(210px, 0, 0);
    -webkit-animation-timing-function: linear;
  }
}
@-moz-keyframes gwd-gen-wm4jgwdanimation_gwd-keyframes {
  0% {
    -moz-transform: translate3d(-110px, 0, 0);
    -moz-animation-timing-function: linear;
  }
  100% {
    -moz-transform: translate3d(210px, 0, 0);
    -moz-animation-timing-function: linear;
  }
}
.gwd-play-animation [data-gwd-group='textglow02group'] .gwd-gen-wm4jgwdanimation {
  animation: 1.4s linear 5.8s 1 normal forwards gwd-gen-wm4jgwdanimation_gwd-keyframes;
  -webkit-animation: 1.4s linear 5.8s 1 normal forwards gwd-gen-wm4jgwdanimation_gwd-keyframes;
  -moz-animation: 1.4s linear 5.8s 1 normal forwards gwd-gen-wm4jgwdanimation_gwd-keyframes;
}
[data-gwd-group='textglow02group'] .gwd-grp-86gg.glowimage02 {
  width: auto;
  height: auto;
  position: absolute;
  top: 0px;
  left: 80px;
  transform: translate3d(-110px, 0, 0);
  -webkit-transform: translate3d(-110px, 0, 0);
  -moz-transform: translate3d(-110px, 0, 0);
}
[data-gwd-group='textglow02group'] {
  width: 1060px;
  height: 250px;
}
.gwd-div-12xw {
  position: absolute;
  left: -80px;
  top: 0px;
  width: 728px;
  height: 90px;
}
[data-gwd-group='textglow02group'] .gwd-grp-86gg.gwd-div-84tr {
  position: absolute;
  left: 0px;
  top: -1px;
  width: 728px;
  height: 90px;
}
.gwd-div-1w4j {
  -webkit-mask-image: url('assets/copy02_01.png');
  mask-image: url('assets/copy02_01.png');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 728px 90px;
  mask-size: 728px 90px;
  -webkit-mask-position: 80px 0px;
  mask-position: 80px 0px;
}
