* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  caret-color: transparent;
}

#ad {
  display: block;
  overflow: hidden;
  cursor: pointer;
  width: 728px;
  height: 90px;
  border: 1px solid #000;
  background: #f4f5f7;
  position: relative;
}

#banner,
.frame {
  width: 100%;
  height: 100%;
}

#banner * {
  position: absolute;
}

.img {
  width: 100%;
  height: 100%;
}

.logo {
  width: 310px;
  right: 5px;
  top: 9px;
}

.kv {
  height: auto;
}

.kv.macaw {
  width: 26%;
  left: 80px;
  bottom: -10px;
}

.kv.toucan {
  width: 24%;
  right: 110px;
  bottom: -8px;
}

/* ----- CTA Button ----- */
.cta {
  width: 90px;
  height: 22px;
  bottom: 18px;
  right: 20px;
  border-radius: 15px;
  background: #477e22;
  border: 1px solid #477e22;
  transition: background 0.25s ease-in-out;
}

.cta img {
  object-fit: none;
  margin-top: -0.5px;
}

.cta-on,
#banner:hover .cta-off {
  opacity: 0;
}

#banner:hover .cta-on {
  opacity: 1;
}

#banner:hover .cta {
  background: #fff;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}
