* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  caret-color: transparent;
}

#ad {
  display: block;
  overflow: hidden;
  cursor: pointer;
  width: 300px;
  height: 250px;
  border: 1px solid #000;
  background: #f4f5f7;
  position: relative;
}

#banner,
.frame {
  width: 100%;
  height: 100%;
}

#banner * {
  position: absolute;
}

.svg,
.img {
  width: 100%;
  height: 100%;
}

.logo {
  width: 270px;
  height: 250px;
  right: 3px;
  top: -8px;
}

.chicks {
  width: 300px;
  right: -200px;
  bottom: 3px;
}

/* ----- CTA Button ----- */
.cta {
  width: 80px;
  height: 22px;
  top: 180px;
  right: 50px;
  border-radius: 15px;
  background: #477e22;
  border: 1px solid #477e22;
  transition: background 0.25s ease-in-out;
}

.cta img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cta-on,
#banner:hover .cta-off {
  opacity: 0;
}

#banner:hover .cta-on {
  opacity: 1;
}

#banner:hover .cta {
  background: #fff;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}
